body{
    margin: auto;
    font-family: sans-serif;
}

input{
    width: 40px;
}

#gris{
    background-color: darkgray;
    left:0;
    position: absolute;
    top:0;
    width:100%;
    text-align: center;
    overflow: auto;
    padding-bottom: 10px;
}
#mosca{
    width: 100px;
    position: absolute;
    top: 260px;
}